@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-int: var(--font-inter);
  --font-island: var(--font-island-moments);
  --font-jost: var(--font-jost);
  --font-poppins: var(--font-poppins);
  --breakpoint-xs: 320px;
  --breakpoint-sm: 375px;
  --breakpoint-bmd: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}

.footer {
  background:
    linear-gradient(0deg, rgba(255, 122, 24, 0.3), rgba(255, 122, 24, 0.3)),
    #1f2937;
}
